

/* Navbar */
header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.logo span {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00c4cc;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

/* Background Video */
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   /* makes video act like background-size: cover */
  z-index: -1;
}

/* Dark Overlay */
.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
}

.subtitle {
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.hero h1 span {
  font-weight: 300;
  border-bottom: 2px solid #fff;
}

/* Search Box */
.search-box {
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  max-width: 800px;
}

.search-box input,
.search-box select {
  border: none;
  padding: 15px;
  flex: 1;
  font-size: 14px;
  outline: none;
}

.search-box button {
  background: #00c4cc;
  color: white;
   border: none;
  padding: 15px 26px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-box button:hover {
  background: #009ba1;
}

