@media (max-width:1399px) {
    .container {
        max-width:1140px;
    }
    .col-xl-4 {
        width: 33.33%;
    }
}

@media (max-width:1199px) {
    .container{
        max-width: 960px;
    }
   
}

@media (max-width:991) {
    .container{
        max-width: 720px;
    }
}
@media (max-width:767) {
    .container{
        max-width: 540px;
    }
}
@media (max-width:575) {
    .container{
        max-width: 100%;
    }

}
