/* xl 1399-1200 */
@media (max-width:1399px) {
    .container {
        max-width: 1140px;

    }

    .col-md-12{
        width: 50%;
    }

    header{
        background-color: var(--darkblue-color);
        padding: 45px;
    }

    header nav{
        display: none !important;
    }

   
}


/* lg 1199-922 */
@media (max-width:1199px){
    .container{
        max-width: 960px;
    }

}

/* md */
@media (max-width:991px){
    .container{
        max-width: 720px;
    }
}

/* sm */
@media (max-width:767px){
    .container{
        max-width: 540px;
    }
}

/* xs */

@media (max-width:575px) {
   .container{
    max-width: 100%;
   }
}



